<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Хостинг файлов</title>
	<link rel="stylesheet" href="style.css">
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="wrap">
		<div class="upload">
			<span class="error">Select file to upload</span>
			<form action="/" method="POST" enctype="multipart/form-data">
				<input type="hidden" name="MAX_FILE_SIZE" value="300000000">
				<input type="file" name="upload_file" id="upload_file">
				<label for="upload_file">Select file to upload</label>
				<input type="submit" name="submit_upload" value="Upload">
			</form>
			<span class="info">Ma file size to upload - 100 MB</span>
		</div>
		<a href="" class="last_files">Last uploaded files</a>
	</div>
</body>
</html>