<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/view/style.css">
	<title>Last uploaded files</title>
</head>
<body>
	<div class="link-home">
		<a href="{{ app.url_generator.generate('main') }}">Home</a>
	</div>
	{% if files is not empty %}
		<div class="table last-file">
			{% for file in files %}
				<div class="row">
					<div class="cell name"><a href="/{{ file.id }}">{{ file.name }}.{{ file.extension }}</a></div>
					<div class="cell size">{{ file.size }}</div>
					<div class="cell date">{{ file.upload_date }}</div>
					<div class="cell link"><a href="/download/{{ file.id }}">Download</a></div>
				</div>
			{% endfor %}
		</div>
	{% endif %}
</body>
</html>